node_modules/
dist/
build/
*.log

backend/.env
backend/vendor/
backend/storage/*.key
backend/bootstrap/cache/*.php
backend/storage/logs/*.log
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/

.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
